<%= image_tag("/images/flower_logo.jpg", :alt => "Sample App", :width => 150, :height => 100, :class => "round")%>
<nav class="round">
	<ul>
		<li><%= link_to "Home", '#'%></li>
		<li><%= link_to "Help", '#'%></li>
		<li><%= link_to "Sign in", '#'%></li>
	</ul>
</nav>